nav #back {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

button {
  font-weight: bold;
  background-color: #3d7ba9c0;
  border: none;
  color: white;
  padding: 10px 17px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all;
  transition-duration: 300ms;
}

button:hover {
    transform: scaleX(1.1);
    box-shadow: 0 0 10px #b0e2facc;
}

button a {
    text-decoration: none;
}

.main-text{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}